body,
html {
  height: auto;
}
:root {
  background-color: yellowgreen;
}
.bg {
  /* The image used */
  background-image: url(https://png.pngtree.com/background/20210714/original/pngtree-cartoon-fox-lion-giraffe-owl-animal-background-picture-image_1236670.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.rectangle {
  height: 178vh;
  width: 50%;
  color: white;
  background-color: rgb(77, 77, 77);
  border-radius: 7px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  height: 300px;
}

.text_format {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.header {
  display: inline-block;
  height: 20px;
  width: 97.9%;
  background: yellowgreen;
  transition: all 0.6s;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: yellowgreen;
  color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
}
